.file-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.file-uploader .el-upload:hover {
  border-color: #409eff;
}
.file-uploader-icon {
  font-size: 20px;
  color: #8c939d;
  min-width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
}
.file {
  min-width: 78px;
  height: 78px;
  display: block;
}